table {
  width: 100%;
  border-spacing: 0 10px;
  margin-top: 35px;
  @media screen and (max-width: 768px) {
    margin-top: 5px;
  }

  td {
    padding: 20px;

    &:first-child {
      @media screen and (min-width: 768px) {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
    &:last-child {
      font-weight: bold;
      text-align: end;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  th {
    text-align: start;
    padding: 0 20px;
    font-size: 12px;
    &:last-of-type {
      text-align: end;
    }
  }

  @media screen and (max-width: 768px) {
    thead {
      height: 1px;
      overflow: hidden;
      position: absolute;
      width: 1px;
    }

    tr,
    td {
      display: block;
    }

    tr {
      margin-bottom: 10px;
    }

    td {
      padding: 12px;
      display: flex;
      flex-wrap: wrap;
    }

    td::before {
      display: block;
      font-weight: bold;
      width: 130px;
      text-align: left;
      font-size: 12px;
    }

    td:not(:first-child, :last-child)::before {
      content: attr(data-label);
    }

    td:last-of-type {
      display: none;
    }

    tr.content-box {
      padding: 0;
    }

    .status {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #dae0e8;
    }
  }
}

.amount-mobile {
  display: none;
  font-weight: bold;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.status {
  &__highlight {
    width: 29px;
    height: 20px;
    border-radius: 5px;
  }
  &__container {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.active {
  background-color: #7ac943;
}

.pending {
  background-color: #3fa9f5;
}

.waiting {
  background-color: #fbb03b;
}

.content-box {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px 10px;

  &.flex {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      gap: 20px;
    }
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-basis: 100%;
  }
  label {
    padding-left: 6px;
  }
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 35px;
}
